<header>
    <div class="sideIcon">
        <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
    </div>
    <div class="navList">
        <nav>
            <div>
                <a [routerLink]="['/user']" routerLinkActive="active" >我的</a>
            </div>
            <div>
                <a [routerLink]="['/user']" routerLinkActive="active" >发现</a>
            </div>
            <div>
                <a [routerLink]="['/user']" routerLinkActive="active" >视频</a>
            </div>
        </nav>
    </div>
    <div class="searchIcon">
        <i nz-icon nzType="search" nzTheme="outline"></i>
    </div>
</header>